{% extends 'base.html' %}

{% block title %}Register - Login{% endblock %}

{% block content %}
    <h1>Register:</h1>
    <form action="/registro_usuario" method="POST">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">
        <label for="usuario">Usuario:</label>
        <input type="text" name="usuario" id="usuario">
        <label for="password">Constraseña:</label>
        <input type="password" name="password" id="password">
        <button>Register</button>
    </form>
{% endblock %}